@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Poppins:wght@400;500&family=Roboto:wght@400;700&family=Tilt+Warp&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins', sans-serif;
    background-color: #f5f4f4;
}
.container{
    display: flex;
    /* overflow: hidden; */
}


/*nav section starts*/

.nav{
    padding-top: 20px;
    gap: 40px;
    justify-content: center;
    font-size: 1.1rem;
    background-color: rgb(247, 247, 247);
    height: 70px;
}
a{
    text-decoration: none;
    color: black;
}

.nav a:hover{
    text-decoration:underline;
    transform: scale(1.2);
    color: red;
}
.icons{
    word-spacing: 30px;
    margin-left: 70px;
}

/*nav section ends*/


.offer{
    padding-top: 10px;
    border: 2px solid black;
    text-align: center;
    height: 50px;
    color: white;
    background-color: black;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    word-spacing: 7px;
}
span{
    color:#e63946;
    word-spacing: 10px;
    text-decoration: underline;
}
span:hover{
    cursor: pointer;
}


/*Home Page Starts*/

.home-page{
    min-height: 80vh;
    /* background-image: url(https://cdn.pixabay.com/photo/2016/11/29/01/34/man-1866574__340.jpg); */
    background-image:url(image.jpg);
    background-size: cover;
}

.home-page h2{
    font-family:cursive;
    color:#e63946;
    font-size: 2rem;
    transform: skew(-20deg);
}
.home-page h1 {
    color: rgb(170, 169, 169);
    font-size: 3rem;
}
.home-page p{
    color: white;
    font-size: 1.2rem;
}
.about-style{
    flex-basis: 50%;
    padding: 80px 0px 0px 100px;
    text-align: center;
}

.shop{
    background-color: black;
    color: white;
    padding: 12px 35px;
    transition: 0.15s all ease;

}
.shop:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
    font-weight: 500;
}



/*Home Page Ends*/

/* <!--Select fashion category by gender starts-->*/

.gender-section{
    min-height: 70vh;
    justify-content: center;
    gap: 30px;
    padding-top: 30px;
}
.gender {
    height: 330px;
    width: 320px;
    background-position: top;
    background-color: #222;
    background-blend-mode: hard-light;
    transition: 1s all ease-in-out;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    align-items: flex-end;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px ;

}
.gender:hover{
    background-position: center;
    background-color: #222;
    color: grey;
    transform: scale(1.1);
    box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];
}


/* Trendy things begins*/
.trends{
    gap: 50px;
    margin: 0px 100px;
}


.genders{
    margin-left: 350px;
    word-spacing: 30px;
    font-size: 1.2rem;
}
.genders a:hover{
    text-decoration: underline;
    color:red;

}

.galleries{
    min-height: 70vh;
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 50px;
}

.gallery{
    height: 300px;
    width: 250px;
    background-position: center;
    background-color: #222;
    background-blend-mode: hard-light;
    transition: 1s all ease-in-out;
}
.gallery:hover{
    background-position: bottom;
    background-color: rgb(76, 110, 139);
    transform: scale(1.04);
}
.prices{
    color: black;
}


/* Trendy things ends*/


/* customer review starts */

.review{
    min-height: 60vh;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 0px 150px ;
    background-color: bisque;
}


/* customer review ends */


/* <!-- You may like section begins --> */

.you-may-like{
text-align: center;
    padding-top: 30px;
}

.box{
    margin-top: 40px;
    /* border: 3px solid red; */
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 200px;
    padding: 0px 50px 0px 50px;
}
.all-items{
    background-size: cover;
    background-position: top;
    display: flex;
    text-align: center;
    align-items: flex-end;
    justify-content: center;
    background-color: #222;
    background-blend-mode:hard-light;
    transition: all 1s ease-in-out;
}
.all-items:hover{
    background-color: #999;
    background-position: center;
    box-shadow: 0 0 4px #fffd;
    cursor: pointer;
    transform: scale(1.02);
}

.price-tag{
    text-align: center;
    background-color: whitesmoke;
    width: 400px;
}
del{
    color: #999;
}
.row{
    grid-row: span 2;
}

.column{
    grid-column: span 2;
}
.row-1{
    grid-row: span 3;
}




/* <!-- You may like section ends --> */

/* Subscribe section starts */

.subscribe{
    margin-top: 50px;
    padding-top: 100px;
    background: linear-gradient(to right , black, #222);
    color: white;
    min-height: 35vh;
    justify-content: center;
    gap: 50px;
}
.subscribe hr{
color: #999;
}

.sub-form input{
     padding: 19px 80px;
     border: none;
}
.sub-form a{
    margin-left: 7px;
    padding: 16px;
    color: white;
    background-color: red;
}
.sub-form a:hover{
    background-color: rgb(170, 3, 3);
}

.social-media{
    margin-top: 10px;
}
.social-media:hover{
    color: red;
}

/* Subscribe section ends */



/* footer section starts */


.footer{
    min-height: 50vh;
    justify-content: center;
    gap: 80px;
    background: linear-gradient(to right , black, #222);

}
.criterion{
    margin-top: 50px;
    color: wheat;
}
.criterion a{
    color: white;
}
.criterion a:hover{
    text-decoration: underline;
}





/* footer section ends */
